title: MLGE
description: A simple 2D game engine library built on top of Ebitengine
remote_theme: just-the-docs/just-the-docs
baseurl: /mlge
url: https://mechanical-lich.github.io

# Color scheme
color_scheme: light

# Enable search
search_enabled: true
search:
  heading_level: 2
  previews: 3
  preview_words_before: 5
  preview_words_after: 10
  tokenizer_separator: /[\s/]+/
  rel_url: true
  button: false

# Heading anchor links
heading_anchors: true

# Footer content
footer_content: "Copyright &copy; 2026. Distributed under the MIT License."

# Enable "Back to top" link
back_to_top: true
back_to_top_text: "Back to top"

# Markdown settings
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: false

# Plugins
plugins:
  - jekyll-seo-tag
